body{
  overflow-x: hidden;
}

#text-backup-data:hover{  
    color: black !important
  }

/* Sidebar Menu Styling */
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto; 
  overflow-x: hidden; 
  scrollbar-width: thin; 
  scrollbar-color: #6c757d #343a40; 

}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu::-webkit-scrollbar {
  width: 8px; 
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu::-webkit-scrollbar-track {
  background: #343a40;
  border-radius: 10px; 
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 10px; 
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  scrollbar-width: thin; 
  scrollbar-color: #6c757d #343a40;
}
.sb-sidenav .nav-link {
  margin: 0;
  padding: 0.75rem 1rem;
  white-space: nowrap; 
}
.btn-group-action button,
.btn-group-action a {
    margin-right: 8px; /* Jarak antar tombol */
}

.btn-group-action button:last-child,
.btn-group-action a:last-child {
    margin-right: 0; /* Menghilangkan margin pada tombol terakhir */
}
