body{
  overflow-x: hidden;
}

#text-backup-data:hover{  
    color: black !important
  }

/* Sidebar Menu Styling */
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto; /* Scroll hanya secara vertikal */
  overflow-x: hidden; /* Hindari overflow horizontal */
  scrollbar-width: thin; /* Firefox scrollbar */
  scrollbar-color: #6c757d #343a40; /* Firefox scrollbar */
}

/* Custom Scrollbar for Webkit Browsers */
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu::-webkit-scrollbar {
  width: 8px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu::-webkit-scrollbar-track {
  background: #343a40;
  border-radius: 10px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 10px;
}

/* Global Box Sizing */
* {
  box-sizing: border-box;
}

/* Sidebar Navigation Links */
.sb-sidenav .nav-link {
  margin: 0;
  padding: 0.75rem 1rem;
  white-space: nowrap; /* Hindari teks melipat */
}
